.fileNameLabel {
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #41d1b6;
}

.errorLabel {
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #ff7171;
}

.selectFolderButton {
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #6562fc;
}

.emptyLeftPane{
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-background-color: #3d3c40;
}

.treeLabel{
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #2cadf6;
}

.fileLabel{
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #fdffbc;
}

.excelLabel{
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #c6ebc9;
}

.split-pane-divider {
    -fx-padding: 0 2 0 1 ;
    -fx-background-color: rgb(145,145,145) ;
    -fx-background-insets: 0;
}

.roundedAddButton {
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
    -fx-background-color: #6562fc;
}

.combo-box .arrow-button .arrow {
    -fx-shape: "...";
    -fx-scale-shape: true;
    -fx-position-shape: true;
}

.ruleBuilderMenu{
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-background-color: white;
}

.text-field {
    -fx-border-radius: 10;
    -fx-background-radius: 10 ;
    -fx-border-color: transparent;
}

.text-field:focused {
    -fx-border-radius: 10 ;
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-border-color: lightgray;
    -fx-border-width: 3;
}