.fileNameLabel {
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #41d1b6;
}

.selectFolderButton {
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #6562fc;
}

.emptyLeftPane{
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-background-color: #3d3c40;
}

.treeLabel{
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #2cadf6;
}