
.fileNameLabel {
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #41d1b6;
}

.errorLabel {
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #ff7171;
}

.selectFolderButton {
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #6562fc;
}

.selectRuleBuilderButton {
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #e4bad4;
}

.selectShowMetricsButton {
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #caf7e3;
}

.emptyLeftPane{
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-background-color: #3d3c40;
}

.treeLabel{
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #2cadf6;
}

.fileLabel{
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #fdffbc;
}

.excelLabel{
    -fx-background-radius: 7 7 7 7;
    -fx-border-radius: 7 7 7 7;
    -fx-background-color: #c6ebc9;
}

.split-pane-divider {
    -fx-padding: 0 2 0 1 ;
    -fx-background-color: rgb(145,145,145) ;
    -fx-background-insets: 0;
}

.roundedAddButton {
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
    -fx-background-color: #6562fc;
}

.textualRuleButton {
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
    -fx-background-color: lightgreen;
}

.combo-box .arrow-button .arrow {
    -fx-shape: "...";
    -fx-scale-shape: true;
    -fx-position-shape: true;
}

.ruleBuilderMenu{
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-background-color: white;
}


.text-field {
    -fx-border-radius: 10;
    -fx-background-radius: 10 ;
    -fx-border-color: transparent;
}

.text-field:focused {
    -fx-border-radius: 10 ;
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-border-color: lightgray;
    -fx-border-width: 3;
}

.context-menu {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.menu-item {
    -fx-padding: 1em;
    -fx-text-fill: black;
    -fx-background: darkgray ;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.menu-item .label{
    -fx-font-size: 14.0 pt;
    -fx-text-fill: black;
}
.menu-item .label:hover{
    -fx-font-size: 14.0 pt;
    -fx-background: black ;
    -fx-text-fill: white;
}

.scroll-pane > .viewport {
    -fx-background-color: #3d3c40;
}

.progress-bar > .track {
    -fx-text-box-border: #1c1c1e;
    -fx-control-inner-background: #1c1c1e;
    -fx-box-border: #1c1c1e;
    -fx-background-color: #1c1c1e;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.progress-bar > .bar {
    -fx-background-color: orange;
    /*-fx-background-radius: 0.583em; *//* 7 */
    -fx-background-radius: 4;
}


/* Table */


.table-view {
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-background-color: #3d3c40;
}


.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color: #3d3c40;
    -fx-background-radius: 7px 0px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-background-color: #b7b7b8;



    -fx-padding: 3;
}

.table-view .column-header .label {
    -fx-font-family: "SF Pro Rounded";
    -fx-text-fill: #b7b7b8;
    -fx-font-weight: bold;

    -fx-border-color: rgba(255,255,255,0.1);
    -fx-border-radius: 10px;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell :hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell :odd{
    -fx-background-color: #3b3b3b;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;

}
.table-row-cell :even{
    -fx-background-color: #4e4e4e;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}


.scroll-bar{
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color : transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :0.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : "";
    -fx-padding :0.1em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : "";
    -fx-padding :0.0 0.1em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-pane > .corner {
    -fx-background-color: transparent ;
}



.table-row-cell :pressed {
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
}

