.text-field {
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-accent: #20B2AA;
    -fx-font-family: "SF UI Display";
    -fx-font-size: 40px;
}
.text-field:focused {
    -fx-background-color: white ;
    -fx-font-family: "SF UI Display";
    -fx-font-size: 40px;
}

.title {
    -fx-font-family: "SF UI Display";
    -fx-font-weight: 400;
    -fx-font-size: 20px;
}

.description {
    -fx-font-family: "SF UI Display";
    -fx-font-size: 15px;
    -fx-text-fill: #636e72;
}

.background{
    -fx-background-color: #2f4f4f;
}